/* "Copyright © 2025 Suzuki Motor Corporation All Rights Reserved" */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* マップとボタンのレスポンシブデザイン */
#map {
  width: 100%;
  height: 80vh;
}

@media (max-width: 600px) {
  #map {
    height: 60vh; /* スマホ向けの高さ */
  }

  button {
    font-size: 14px;
    padding: 10px;
  }

  p {
    font-size: 12px;
    overflow-wrap: break-word;
  }
}